*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;

}

:root{
    --colorA: rgb(0, 163, 217);
    --colorB: rgb(0, 255, 255);
    --colorC: rgb(176, 177, 177);
    --colorD: rgb(255, 255, 255);

    --fontSizeA: 44px;
    --fontSizeB: 36px;
    --fontSizeC: 24px;
    --fontSizeD: 18px;
}

#content{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;

}

#header{
    /* background-color: rgb(0, 255, 255); */
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: linear-gradient(to top left,var(--colorA), var(--colorB));
    display:flex;
    height: auto;
}

#title{
    color: var(--colorD);
    font-size:var(--fontSizeA);
    padding:16px;
    margin-top:auto;
}

#body{
    display:flex;
    flex-direction:row;
    flex-grow:1;
}

#sidebar{
    background-color: var(--colorC);
    width:350px;
    /* min-width:300px; */
    display:flex;
    flex-direction:column;
    align-items:center;

    color:var(--colorD);
}
#newProjectBtn{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    cursor:pointer;
    /* border: 3px solid black; */
}

#sidebarTitle{
    font-size: var(--fontSizeC);
    margin:8px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom:8px;
    border-bottom:solid var(--colorD) 3px;
}

#mainBody{
    background-color: var(--colorD);
}

#footer{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: linear-gradient(to top right,var(--colorA), var(--colorB));
    height:60px;
}
